body {
  font-size: 18px;
  background-color: hsl(185, 75%, 39%);
}

main {
  background-color: #fff;
  margin: auto;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.15);
  margin-top: 150px;
  overflow: hidden;
}

header {
  height: 150px;
  background-image: url(./assets/bg-pattern-card.svg);
  position: relative;
}

header .avatar {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  display: inline-block;
  border: 5px solid white;
  background-image: url(./assets/image-victor.jpg);
  background-size: cover;
}